body {
    background: linear-gradient(
            rgba(0, 0, 1, 0.7),
            rgba(0, 0, 0, 0.5)
    ),
    url(../resources/karina-chill.jpg);
    background-size: cover;
}

section {
    position: absolute;
    top: 50%;
    left: 70%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

#bg-flag {
    max-height: 70px;
}

#netflix-logo {
    max-height: 80px;
}