.gallery {
    text-align: center;
}

.gallery img {
    max-width: 90%;
    max-height: 50%;
}

.project-text {
    padding-top: 20px;
}

button{
    max-width: 70%;
}

#down-arrow{
    max-height: 30px;margin: 5%;
}

#brain{
    max-height: 200px;
}